*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url('img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


h1{
    font-size: 60px;
    color: white;
    margin: 8% 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#Formulario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    

}

.box{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    border-radius: 20px;
    padding: 1%;
    margin: 2%;
    background: linear-gradient(to bottom, rgb(226, 230, 235) , white);
    
}

.campo{
    width: 100%;
    margin-top: 5px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
    background-color: rgba(250, 246, 231, 0.89);
    border-radius: 10px ;
}

input::placeholder{
    color: rgb(170, 165, 165);
    font-size: 15px;
}

input{
    height: 40px;
    
    border: 1px solid grey;
    -moz-border-radius: 10px ;
    
}

textarea{
    display: flex;
    width: 100%;
    background-color:  rgba(250, 246, 231, 0.89);
    border-radius: 10px;
    
}